
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  @include font(1.6rem, 2.6rem, 400);
  @extend %font-primary;
  background: $color-body;
  color: $color-text;
  position: relative;
}

main{
  padding-top: 80px;
}

.title{
  color: $color-text-light;
  margin: 130px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  &_yellow{
    color: #9e7e63;
  }
}

a{
  color: inherit;
  cursor: pointer;
}

h1{
  @include font(10rem, 10.4rem, 200);
}

h2{
  @include font(5.4rem, 4.4rem, 300);
}

h3{
  @include font(3rem, 3.4rem, 600);
}

img{
  width: 100%;
}