$content-width: 1100px;
$tablet-width: 768px;
$mobile-width: 380px;

$color-light: #ffffff;
$color-body: #faeddf;

$color-back-primary: #f0deca;
$color-back-secondary: #fcf7f1;
$color-back-accent-1: #188497;
$color-back-accent-2: #f8a577;
$color-back-accent-3: #fff48f;

$color-text: #7a5932;
$color-text-light: #fcf7f1;
$color-text-accent: #188497;

