.code__block{
  overflow: hidden;
}

.code__left{
  background-color: $color-back-accent-1;
}

.code__right{
  background-color: $color-back-secondary;
  padding: 5% 5%;
}

.code__subtittle{
  text-align: center;
}

.code__keyword{
  color: #d44c12;
}

.code__function-title{
  color: #2bee6f;
}

.code__logic-operator{
  color: #f5da57;
}