


.layout__grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;

  @media screen and (max-width: 920px) {
    grid-template-columns: 1fr;

    .promo__photo_block,.skills__left-content,
  .courses__left,.languages__left{
    grid-area: a;
  };

  .promo__info_block,.skills__right-content,
  .courses__right,.languages__right{
    grid-area: b;

  }
    
    grid-template-areas: "b"
                        "a"  ;


  }
}



.layout__grid.wide-right{
  grid-template-columns: 2fr 1fr;

  @media screen and (max-width: 920px) {
    grid-template-columns: 1fr;
    grid-template-areas: "b"
                        "a"  ;
  }

}

